 * {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}
body, html {
    width: 100%; 
    height: 100%; 
}

img{
    width: 100%;
    height: 100%;
}

.main-content{
    background-color: rgb(34, 34, 94);
    height: 100%;
}

.img-2{
    width: 30%;
    height: 10%;
    padding-right: 4rem;
    padding-bottom: 7rem;
    animation: fadeIn 2s ease-in-out;
}

.img-3{
    width: 30%;
    height: 35%;
    padding-top: 13rem;
    padding-left: 10rem;
    animation: fadeIn 2s ease-in-out;
}

.main-head{
    display: flex;
    gap: 2rem;
    text-align: center;
    align-items: center;
    padding: 10px;
    padding-top: 10rem;
    color: white;
    font-size: 50px;
    padding-bottom: rem;
}

.text-main{
    padding-bottom: 5rem;
    padding-left: 0.5rem;
}

.top-text{
    text-align: center;
    padding-top: 13rem;
    background-color: rgb(245, 222, 194);
}

.welcome-text{
    text-align: center;
    display: flex;
    gap: 10px;
    padding-right: 8rem;
    padding-left: 8rem;
    background-color: rgb(245, 222, 194);
}

.bottom-text{
    padding-top: 5rem;
    font-size: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.left-img{
    animation: fadeIn 2s ease-in-out;
    height: 300px;
    width: 700px;
}

.right-img{
    animation: fadeIn 2s ease-in-out;
    height: 300px;
    width: 700px;
}

.read-more{
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 14rem;
    background-color: rgb(245, 222, 194);
    padding-bottom: 2rem;
    font-weight: bold;
}

.container {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden; 
    padding-top: 6rem;
    background-color: rgb(10, 197, 197);
}

.box {
    width: 230px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 0;
    gap: 3rem;
    cursor: pointer;
    padding-top: 4rem;
  }
  .box:hover {
    cursor: pointer;
  } 

  .img-card{
    width: 100%;
    height: 100%;
  }

  .text-img{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .collection{
    padding-top: 40px;
    padding-left: 20px;
    font-size: 35px;
    background-color: rgb(10, 197, 197);
  }

  
